<div>
    <img src="assets/3_section_our_menu/Png/R3.png" alt="shio bowl">
    <div>
        <h3 class="fontEconomica">Shio Ramen</h3>
        <table class="fontRaleway">
            <tr>
                <td>CHICKEN</td>
                <td>11,95 €</td>
            </tr>
            <tr>
                <td>BEEF</td>
                <td>12,95 €</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>13,95 €</td>
            </tr>
        </table>
    </div>
</div>

